body {
    background-image: url(lines.png);
    background-blend-mode: multiply;
    background-color: rgb(247, 167, 200);
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#wrapper h1.small {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5rem;
}

#wrapper {
    background-color: white;
    margin: 40px;
    padding:50px 100px;
    max-width: 1200px;
    outline: solid 2px rgb(214, 137, 169);
    border-bottom: solid 6px rgb(214, 137, 169);
    border-right: solid 4px rgb(214, 137, 169);
    border-radius: 16px;
}

#wrapper.small {
    max-width: 386px;
}

#wrapper div {
    display: inline-block;
}

.full {
    width: 100%;
    text-align: center;
    float: right;
}

.col-1, .col-2 {
    width: calc(50% - 20px);
    float: left;
    margin-right: 20px
}

#wrapper div#logo {
    height: 25vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    position: relative;
    min-height: 15vh;
}

#wrapper header div#logo {
    height: 20vh;
    width: 20vh;
    display: inline-block;
    position: absolute;
    right:0;
    background-position: top;
    padding-top: 10vh;
    background-size: contain;
    text-align: center;
    font-weight:bolder;
    letter-spacing: 0.3rem;
}
header a {
    display: inline-block;
    padding-top: 4vh;
}

ul, li {
    padding: 3px;
    list-style: none;
}

a {
    color: rgb(19 73 114);
    text-decoration: none;
}

div.highlight {
    border-radius: 20px;
    background-color: rgb(196, 220, 236);
}

div.highlight h1,
div.highlight h2,
div.highlight h3,
div.highlight h4,
div.highlight p,
div.highlight ul {
    padding: 0 2rem
}

.button {
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    min-width: 30px;
    border-radius: 6px;
    text-align: center;
    display: block;
    background-color: rgb(255 52 103);
    outline: solid 1px rgb(190, 41, 78);
    border-bottom: solid 4px rgb(190, 41, 78);
    border-right: solid 2.5px rgb(190, 41, 78);
    color: white;
}

.button img {
    margin-right: 8px;
    margin-bottom: -2px;
}
.button:hover {
    background-color: rgb(255 52 103);
    color: white;
    outline: solid 1px rgb(190, 41, 78);
    border-bottom: solid 3px rgb(190, 41, 78);
    border-right: solid 2px rgb(190, 41, 78);
    margin-top: 1px;
}
.button:active {
    background-color: rgb(255 52 103);
    color: white;
    outline: solid 1px rgb(190, 41, 78);
    border-bottom: solid 1px rgb(190, 41, 78);
    border-right: solid 1px rgb(190, 41, 78);
    margin-top: 3px;
}

.button.pin{
    background-color: rgb(65, 132, 233);
    outline: solid 1px rgb(49, 100, 177);
    border-bottom: solid 4px rgb(49, 100, 177);
    border-right: solid 2.5px rgb(49, 100, 177);
}

.button.pin img.pin{
    color: rgb(190, 41, 78)
}

.button.pin:hover{
    background-color: rgb(65, 132, 233);
    outline: solid 1px rgb(49, 100, 177);
    border-bottom: solid 3px rgb(49, 100, 177);
    border-right: solid 2px rgb(49, 100, 177);
}

.button.pin:active{
    background-color: rgb(65, 132, 233);
    outline: solid 1px rgb(49, 100, 177);
    border-bottom: solid 1px rgb(49, 100, 177);
    border-right: solid 1px rgb(49, 100, 177);
    margin-top: 3px;
}

a:hover {
    color: rgb(49, 100, 177)
}

.bullet{
    color: rgb(190, 41, 78);
    padding-right: 10px;
    font-weight:bolder
}

@media screen and (max-width: 1381px){
    h1{
        font-size:3.242rem
    }
}

@media screen and (max-width:1100px) {
    .col-1, .col-2 {
        width: 100%;
        text-align: center;
    }

}

@media screen and (max-width: 900px) {

    #wrapper h1,
    #wrapper h2,
    #wrapper h3
     {
        font-size: 150%;
        line-height: 2rem;
    }


    #logo {
        max-height:25vh;
        text-align: center;

    }
}

@media screen and (max-width: 600px) {
    #wrapper {
        margin: 20px;
        padding:20px 20px;
    }
}

@media screen and (max-width: 400px) {
    .col-1, .col-2 {
        margin: 0;
    }
    
    #wrapper header div#logo {
        max-width: 50%;
    }
}